.body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    /* background: royalblue; */
    background-image: url(https://images.unsplash.com/photo-1566233601708-73237226554c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=794&q=80);
    font-family: serif;
    /* font-size: larger; */
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid.col-6.box {
    padding: 20px;
    display: flex;
    margin: 20px;
    flex-wrap: nowrap;
    background: #28a745a8;
    justify-content: space-evenly;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 6px;
    align-content: center;
}

button.btn {
    margin: 10px;
}

.bigbtn {
    padding: 1.375rem 1.75rem !important;
}

a {
    color: white !important;
}

p {
    font-weight: 500;
}

h1 {
    font-weight: bolder;
}

button.btn {
    font-weight: 700;
    font-size: large;
}

.hidden {
    display: none;
}

div.alert {
    padding: 10px !important;
}

.dropdown-menu {
    top: 80% !important;
    right: 0px !important;
    left: auto !important;
}

a.dropdown-item {
    color: #212529 !important;
}

.form-inline.my-2.my-lg-0 {
    font-size: large;
    font-weight: 500;
    color: white;
}

div#content {
    width: 70%;
}

.container-fluid {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

a#navbarDropdown {
    text-decoration: none;
}

.error {
    color: red;
    font-size: medium;
}